// color
$bg-color : #fafafd;
$max-width : 1400px;
$one-color : #ece9fc;
$two-color : #694fd3;
$three-color : #818187;
$four-color : #9998a0;
$white : #fff;
$input-bg : #f0eefc;
$black : #25232b;
$black2 : #55535b;
$yellow : #FFE484;
// other
$radius : 8px;
$radius2 : 16px;